.container{
    container-type: inline-size;
    height: 100%;
    width: 100%;
    background: #5746EA;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.avatar img{
    width: 50%;
    object-fit: cover;
}

.genres{
    display: flex;
    flex-wrap: wrap;
}

@container (min-width: 660px){
    .details{
        display: flex;
        flex-direction: column;
        padding: 40px 0px;
        justify-content: space-around;
       font-size: 2rem;
       font-weight: bold;
    }
}