.container{
    height: 100%;
    width: 100%;
    background-color: #1e2343;
    border-radius: 20px;
    display: flex;
}

.left{
    width: 30%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.cell{
    display: flex;
    flex-direction: column;
}

.conifgure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}